	<!-- header -->
	<header class="header">
		<div class="headTop">
			<h1><img src="img/logo.png"></h1>
			<a href="javascript:;">登录</a>
		</div>
		<div class="headTitle">
			<h2>专注海外华人生活</h2>
			<h3>团购美食、分类信息、本地服务、主题活动</h3>
		</div>
		<div class="headBottom">
			<h3>下载APP，使用更快捷方便</h3>
			<dl>
				<dd><img src="img/qrPic.jpg"/></dd>
				<dt><a class="iosBtn" href="#"></a></dt>
				<dt><a class="andBtn" href="#"></a></dt>
			</dl>
		</div>
	</header>
	<!-- header end -->

	<!-- main -->
	<section class="main">
		<dl class="grouponList">
			<dd><a ng-click="$location.path('groupon')"></a></dd>
			<dt><a href="#">餐饮美食</a></dt>
			<dt><a href="#">果蔬生鲜</a></dt>
			<dt><a href="#">生活物品</a></dt>
			<dt><a href="#">其他团购</a></dt>
		</dl>
		<dl class="classifyList">
			<dd><a href="#detailInfo"></a></dd>
			<dt><a href="#">二手闲置</a></dt>
			<dt><a href="#">二手车辆</a></dt>
			<dt><a href="#">房屋租售</a></dt>
			<dt><a href="#">交友征婚</a></dt>
		</dl>
		<dl class="serviceList">
			<dd><a href="#"></a></dd>
			<dt><a href="#">家政中介</a></dt>
			<dt><a href="#">移民法律</a></dt>
			<dt><a href="#">医疗保健</a></dt>
			<dt><a href="#">汽车服务</a></dt>
		</dl>
		<dl class="stretchList">
			<dd><a href="#"></a></dd>
			<dt><a href="#">主题活动</a></dt>
			<dt><a href="#">生活物品</a></dt>
		</dl>
	</section>
	<!-- main end -->
	
	<!-- release -->
	<section class="release">
		<ul class="releaseList">
			<li class="active"><a href="#">发布团购</a></li>
			<li><a href="#">发布分类</a></li>
			<li><a href="#">发布服务</a></li>
			<li><a href="#">发布活动</a></li>
		</ul>
	</section>
	<!-- release end -->

	<!-- footer -->
	<footer class="footer">
		<dl>
			<dd>
				<h3>海外e生活</h3>
				<p>海外华人生活必备</p>
				<img src="img/hweqrPic.jpg"/>
			</dd>
			<dt>
				<p>团购美食、生活物品、二手闲置、房屋租赁</p>
				<p>家政服务、教育教学、求职交友、主题活动</p>
			</dt>
			<dt>
				<p>专为身在海外的你而打造，覆盖生活点点滴滴，</p>
				<p>使您在海外生活更便捷容易，轻松无忧！</p>
				<p>同时也是海外创业利器，在平台上开店做生意，发起团购，</p>
				<p>只要你有好货源，好产品，让闲暇时的你也可轻松创业！</p>
			</dt>
			<dt>
				<p><span>关注</span>海外e生活，及时获取更多信息、管理追踪您的订单！</p>
				<p><span>下载</span>pp，使用更方便、快捷！（下载地址：http://m.hwelife.com）</p>
			</dt>
		</dl>
	</footer>
	<!-- footer end -->
