body 					{font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;-webkit-tap-highlight-color: rgba(0, 0, 0, 0); background: #f5f5f5;color: #fff;}

.header					{height: 5.97rem;background: url(../img/headerBg.jpg) no-repeat center;background-size: 100%; }
.headTop 				{padding: 0.47rem 0.26rem 0.61rem 0.32rem; overflow: hidden;}
.headTop h1 			{float: left; height: 0.52rem; line-height: 0.52rem;}
.headTop h1 img 		{vertical-align: bottom; width: 2.1rem; height: 0.52rem;}
.headTop a 				{width: 1.37rem; height: 0.52rem; text-align: center; background: #fff; color: #000000; font-size: 0.27rem; line-height: 0.52rem; border-radius: 8px; display: inline-block; float: right;}
.headTitle 				{text-align: center; color: #fff;}
.headTitle h2 			{font-size: 0.54rem; line-height: 0.54rem; height: 0.54rem; margin-bottom: 0.25rem;}
.headTitle h3 			{font-size: 0.27rem; line-height: 0.27rem; height: 0.27rem; margin-bottom: 0.27rem;}

.headBottom 			{width: 5.34rem; height: 2.82rem; margin: 0 auto; padding: 0 0.38rem 0 0.51rem; background: rgba(255,255,255,0.5);}
.headBottom h3  		{font-size: 0.3rem; line-height: 0.3rem ; height: 0.3rem; padding: 0.23rem 0 0.19rem;}
.headBottom dl  		{overflow: hidden;}
.headBottom dl dd 		{float: left; width: 1.82rem; border-right: 0.02rem solid #fff; padding-right: 0.38rem; margin-right: 0.38rem;}
.headBottom dl dd img 	{width: 1.82rem; height: 1.82rem; display: block;}
.headBottom dl dt 		{float: left;width: 2.73rem ; height: 0.8rem;}
.headBottom dl dt a		{width: 2.73rem ; height: 0.8rem; display:block; background: #fff url(../img/btnBg.png) no-repeat; background-size: 100%;}
.headBottom dl dt:nth-child(2){margin-bottom: 0.19rem;}
.headBottom dl .iosBtn	{background-position: 0 0;}
.headBottom dl .andBtn	{background-position: 0 -1rem;}

.main 					{padding: 0.07rem 0.08rem 0.01rem; background: #fff;}
.main dl 				{overflow: hidden; margin-bottom: 0.05rem;}
.main dl dd 			{width: 2.06rem; height: 1.69rem; float: left;}
.main dl dd a 			{width: 100%; height: 100%; display: block; background: url(../img/ddBg.png) no-repeat;background-size: 100%;}
.main dl dt 			{width: 2.06rem; height: 0.83rem; float: left; margin-left: 0.03rem; margin-bottom: 0.03rem;}
.main dl dt a 			{width: 100%; height: 100%; display: block; line-height: 0.83rem; text-align: center; font-size: 0.27rem;}

.main .grouponList dd 	{background: #e84e40;}
.main .grouponList dt 	{background: #f36c60;}

.main .classifyList dd 	{background: #0288d1;}
.main .classifyList dd a{background-position: 0 -1.77rem;}
.main .classifyList dt 	{background: #29b6f6;}

.main .serviceList dd 	{background: #ef851d;}
.main .serviceList dd a {background-position: 0 -3.53rem;}
.main .serviceList dt 	{background: #ffa726;}

.main .stretchList dd  	{background: #0a8f08;}
.main .stretchList dd a {background-position: 0 -5.30rem;}
.main .stretchList dt 	{width: 4.15rem; height: 0.83rem; background: #2baf2b;}

.release 				{background: #fff; margin:0.18rem 0; padding: 0.2rem 0;}
.releaseList 			{overflow: hidden;width: 5.79rem; margin:0 auto;}
.releaseList li  		{width: 1.02rem; float: left;margin-right: 0.57rem;}
.releaseList li:last-child{margin-right: 0;}
.releaseList .active a 	{background: #e84e40;}
.releaseList li a 		{width: 0.5rem; padding: 0.2rem 0.26rem; border-radius: 50%; line-height: 0.31rem; display: block; background: #cccccc; font-size: 0.25rem;}

.footer 				{background: #fff; padding: 0.47rem 0 0.47rem 0.3rem;}
.footer dl  			{color: #000; overflow: hidden;}
.footer dl dd 			{width: 1.38rem; text-align: center;padding-right: 0.2rem; border-right: 0.02rem solid #808080; margin-right: 0.17rem; float: left;}
.footer dl dd h3		{font-size: 0.28rem; height: 0.28rem; line-height: 0.28rem; padding-top: 0.11rem; margin-bottom: 0.13rem;}
.footer dl dd p			{font-size: 0.13rem;height: 0.13rem; line-height: 0.13rem; margin-bottom: 0.27rem;}
.footer dl dd img		{width: 1.28rem; height: 1.28rem;}
.footer dl dt 			{color: #000; float: left; width: 4.3rem;}

.footer dl dt:first-of-type{ font-size: 0.16rem; line-height: 0.25rem; padding-top: 0.1rem;margin-bottom: 0.19rem;}

.footer dl dt:nth-child(3) {font-size: 0.14rem; line-height: 0.24rem; padding-bottom: 0.2rem;}

.footer dl dt:last-child   {font-size: 0.14rem; line-height: 0.226rem;}

.footer dl dt:last-child span{color: #0078d7; font-family: "时尚中黑简体"; padding-right: 0.02rem;}


.filter 				{background: #fff; position: fixed; z-index: 99; width: 100%;}
.filter .filterList 	{overflow: hidden; padding: 0.24rem 0; border-top: 0.01rem solid #d7d7d7; border-bottom: 1px solid #d7d7d7; }
.filterList li 			{width: 2.11rem; height: 0.38rem; line-height: 0.38rem; font-size: 0.24rem; color: #000; float: left; text-align: center;}
.filterList li:nth-child(2){border-left: 0.02rem solid #eeeeee; border-right: 0.02rem solid #eeeeee;}


.filterBox 				{position: relative; background: #f5f5f5;}
.cityList 				{width: 100%; height: 3.6rem; overflow-y:scroll; }
.cityList>li 			{font-size: 0.24rem; color: #000; height: 0.6rem; line-height: 0.6rem; padding-left: 0.2rem; border-bottom: 0.01rem solid #ececec;}
.contacCity 			{width: 4rem; font-size: 0.24rem; background: #fff;   height: 3.6rem; overflow-y:scroll; color: #000;}
.contacCity li 			{height: 0.6rem; line-height: 0.6rem; border-bottom: 0.01rem solid #ececec; padding-left: 0.2rem;}

.grouponMain 			{padding-top: 0.88rem;}
.grouponList 			{background: #fff;}
.grouponList li 		{padding: 0.12rem 0.15rem; overflow: hidden; border-bottom: 0.01rem solid #f6f6f6;}
.grouponCont 			{width: 6.1rem; height: 2.64rem; position: relative; overflow: hidden; }
.grouponCont .goodsPic 	{width: 6.1rem; position: absolute;}
.grouponCont .user		{position: absolute; top: 0.08rem; left: 0.08rem; width: 1.55rem; height: 0.46rem; border-radius: 0.45rem; background: rgba(0,0,0,0.5);}
.grouponCont .user img 	{width: 0.44rem; height: 0.44rem; border-radius: 50%; position: absolute; top: 0.01rem; left: 0.01rem;}
.grouponCont .user span {width: 0.9rem; height: 0.36rem; font-size: 0.14rem; line-height: 0.18rem; display: inline-block;  position: absolute; left: 0.52rem; top: 0.06rem; overflow: hidden;}
.grouponCont .info		{height: 0.48rem; top: 0.08rem; right: 0.08rem; position: absolute;}
.grouponCont .info span {display: inline-block; width: 0.48rem; height: 0.48rem; border-radius: 50%;background: rgba(0,0,0,0.4) url(../img/icon.png) top center; background-size: 300%;}
.grouponCont .info span:nth-child(1){background-position: 0 -0.05rem;}
.grouponCont .info span:nth-child(2){background-position: -0.48rem -0.05rem;}
.grouponCont .info span:nth-child(3){background-position: -0.96rem -0.05rem;}
.grouponCont .info span i{color: #fff; text-align: center; font-style: normal; display: inline-block; width: 0.36rem; overflow: hidden; font-size: 0.12rem; padding-top: 0.27rem; margin: 0 0.06rem;  vertical-align: top;}
.grouponCont .modes		{position: absolute; left: 0; bottom: 0; height: 0.3rem;}
.grouponCont .modes span{display: inline-block; font-size: 0.16rem; line-height: 0.3rem; vertical-align: top; padding: 0 0.04rem;}
.grouponCont .state     {position: absolute; right: 0; bottom: 0; color: #fff; font-size: 0.16rem; line-height: 0.3rem; padding: 0 0.1rem;}
.grouponCont .bgGreen   {background: rgba(0, 204, 51, 0.6);}
.grouponCont .bgBlue 	{background: rgba(0, 153, 255, 0.6);}
.grouponCont .bgOrange	{background: rgba(247,186,91,0.6);}
.grouponCont .bgOpc  	{background: rgba(0,0,0,0.4);}
.grouponTitle 			{font-size: 0.2rem; color: #000; padding: 0.14rem 0 0.1rem; font-weight: 500;}
.grouponInfo 			{font-size: 0.14rem; color: #666;line-height: 0.22rem;}
.grouponTime 			{font-size: 0.14rem; color: #666;line-height: 0.22rem;}
.grouponTime span 		{color: #e44849;}
.grouponAddress 		{font-size: 0.14rem; color: #666; font-style: normal;}

.groUserInfo 			{background: #fff; height: 0.88rem; overflow: hidden; margin-bottom: 0.2rem;}
.groUserInfo dd, .groUserInfo dt{height: 0.88rem; overflow: hidden;float: left;}
.groUserInfo dd 		{width: 3.91rem; overflow: hidden;}
.groUserInfo dd img 	{width: 0.7rem;  height: 0.7rem; border-radius: 50%;float: left; margin: 0.08rem 0.21rem 0;}
.groUserInfo dd span 	{display: inline-block; color: #000; font-size: 0.33rem; height: 0.36rem; vertical-align: top; margin-top: 0.26rem; max-width: 2.7rem; overflow: hidden;}
.groUserInfo dt 		{width: 2.49rem;}
.groUserInfo dt a 		{width: 0.98rem; height: 0.52rem; font-size: 0.24rem; color: #fff; background: #0078d7; line-height: 0.52rem; text-align: center; border-radius: 8px; display: inline-block; float: left; margin-top: 0.18rem;}
.groUserInfo dt a:nth-child(1){margin-right: 0.18rem;}

.goodsText 				{background: #fff url(../img/icon1.png) no-repeat 0.25rem 0.23rem; background-size: 0.34rem 0.34rem; font-size: 26px; line-height: 0.4rem; color: #127ad4; padding: 0.24rem 0.25rem; text-indent: 2em;}
.deadline 				{background: #fff; padding: 0.33rem 0 0.33rem 0.2rem; color: #000; font-size: 0.28rem; line-height: 0.28rem; border-top: 0.01rem solid #ececec; border-bottom: 0.01rem solid #ececec;}
.delAddress 			{background: #fff; padding: 0.26rem 0 0.1rem 0.2rem; margin-bottom: 0.2rem; border-bottom: 0.01rem solid #ececec;}
.delAddress h3 			{font-size: 0.28rem; color: #000; margin-bottom: 0.14rem;}
.addressList			{font-size: 0.24rem; color: #acacac; margin-left: 0.35rem;}
.addressList li 		{list-style-type:disc; line-height: 0.4rem;}
.joinReserve 			{background: #fff; padding: 0.26rem 0 0.1rem 0.2rem; margin-bottom: 0.15rem; border-bottom: 0.01rem solid #ececec;}
.joinReserve h3 		{font-size: 0.28rem; color: #000; margin-bottom: 0.14rem; }
.joinReserve .joinUser	{overflow: hidden;}
.joinUser li 			{float: left; margin-right: 0.14rem;}
.joinUser li img 		{width: 0.58rem; height: 0.58rem; border-radius: 50%; display: block;}
.goodsListBox			{background: #fff; padding-bottom: 1.12rem;}
.goodsList 				{overflow: hidden;}
.goodsList li 			{padding: 0.2rem 0 0.19rem 1.8rem; height: 1.6rem; border-bottom: 0.01rem solid #ececec; position: relative;}
.goodsList li .goodsPic {width: 1.6rem; height: 1.6rem; position: absolute; top: 0.2rem; left: 0.2rem;}
.goodsPrice		 		{float: left; padding-left: 0.22rem; width: 2.5rem;}
.goodsPrice	h3 			{font-size: 0.3rem; color: #000; margin-bottom: 0.16rem;}
.goodsPrice p			{color: #adadad; font-size: 0.28rem;}
.goodsPrice p i 		{color: #e24a4d; font-size: 0.3rem; font-style: normal;}

.goodsNum 				{float: left; height: 1.6rem; position: relative;}
.goodsNum span 			{display:block; width: 0.48rem; height: 0.48rem; position: absolute; top: 1.05rem;}
.goodsNum span:nth-child(1){ background: url(../img/decreaseBtn.png) no-repeat; left: 0.34rem;}
.goodsNum span:nth-child(2){ left: 0.78rem; width: 0.45rem; color: #000; text-align: center; line-height: 0.48rem; font-size: 0.26rem;}
.goodsNum span:nth-child(3){ background: url(../img/addBtn.png) no-repeat; left: 1.24rem;}

.bottomBox 				{position: fixed; z-index: 99; bottom: 0; left: 0; width: 100%;}
.grouponBottom			{position: relative; width: 100%; height: 0.88rem; padding-top: 0.24rem;}
.grouponBottom .shopCar {position: absolute; top: 0; left: 0.2rem; display: block; width: 0.88rem; height: 0.88rem;}
.grouponBottom dl 		{overflow: hidden; height: 0.88rem;}
.grouponBottom dl dd 	{width: 4.26rem; height: 0.88rem; float: left; background: #666666;}
.grouponBottom dl .active{background: #0078d7; color: #fff;}
.grouponBottom dl dd p 	{color: #fff; font-size: 0.26rem; line-height: 0.88rem; padding-left: 1.9rem; }
.grouponBottom dl dt 	{width: 2.13rem; height: 0.88rem; float: left; background:#cccccc;}
.grouponBottom dl dt a  {display: block; width: 100%; text-align: center; font-size: 0.26rem; color: #555555; line-height: 0.88rem;}
.shopsInfo 				{position: relative; height: 2.4rem;}
.shopsInfo .shopsBgPic  {display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; -moz-filter: blur(5px); -webkit-filter: blur(5px);-o-filter: blur(5px);-ms-filter: blur(5px);filter: blur(5px);}
.shopsInfo dl 			{position: absolute; top: 0; left: 0; z-index: 9; overflow: hidden;}
.shopsInfo dd 			{width: 1.36rem; height: 2.4rem; margin-right: 0.16rem; float: left; overflow: hidden;}
.shopsInfo dd img 		{display: block; margin-top: 0.25rem; float: right; width: 1rem; height: 1rem; border-radius: 50%; border: 0.04rem solid #e5c09b;}
.shopsInfo dt 			{float: left; width: 4.8rem;}
.shopsInfo dt:nth-child(2){ font-size: 0.3rem; padding: 0.3rem 0 0.2rem;}
.shopsInfo dt:nth-child(3){font-size: 0.24rem; margin-bottom: 0.16rem;}
.shopsInfo dt:nth-child(4){margin-bottom: 0.16rem;}
.shopsInfo dt img 		{display: block; float: left; width: 0.28rem; height: 0.28rem;}
.shopsInfo dt span 		{display: block; padding: 0 0.08rem; float: left; font-size: 0.2rem; text-align: center; line-height: 0.36rem;}
.shopsInfo dt .wChat 	{background: #4eb163; margin-right: 0.2rem;}
.shopsInfo dt .ePt 		{background: #137bd4;}

.shopsTel 				{background: #fff url(../img/tel.png) no-repeat; background-position: 0.29rem 0.3rem; padding: 0.34rem 0 0.34rem 0.88rem; font-size: 0.18rem; color: #777777; border-bottom: 0.01rem solid #d4d4d4; }
.shopsTel a             {display: block; color: #000; font-size: 0.18rem;}
.shopsText              {background: #fff url(../img/shopIntro.png) no-repeat; background-position: 0.29rem 0.3rem; padding: 0.34rem 0.4rem 0.34rem 0.88rem; font-size: 0.23rem; color: #e5c09b; line-height: 0.3rem; border-bottom: 0.01rem solid #d4d4d4;}
.shops 					{background: #fff; padding: 0.24rem 0.3rem 0.24rem 0.28rem; font-size: 0.23rem; color: #999999; line-height: 0.32rem;}
.shops h3 				{color: #000; font-size: 0.25rem; line-height: 0.46rem;}

.grouponUserList 		{border-top: 0.01rem solid #c9c9c9;}
.grouponUserList li 	{background: #fff; border-bottom: 0.01rem solid #c9c9c9; position: relative; padding: 0.22rem 0 0.37rem 1.48rem; margin-bottom: 0.19rem;}
.grouponUserList li img {width: 1rem; height: 1rem; position: absolute; display: block; left: 0.2rem; top: 0.2rem; border-radius: 50%; }
.grouponUserList li div {position: relative; width: 4.64rem;}
.grouponUserList li div h3{font-size: 0.26rem; color: #000000;line-height: 0.26rem; height: 0.26rem; margin-bottom: 0.16rem;}
.grouponUserList li div time{position: absolute; font-size: 0.22rem; color: #cccccc; right: 0; top: 0;}
.grouponUserList li div p{font-size: 0.24rem; line-height: 0.3rem; color: #777777;}

.delAddressList 		{}
.delAddressList li 		{padding: 0.22rem 0.2rem; background: #fff; border-bottom: 0.01rem solid #d4d4d4; margin-bottom: 0.19rem;}
.delAddressList li:nth-child(1){border-top: 0.01rem solid #d4d4d4;}
.delAddressList div, .delAddressList h3{font-size: 0.26rem; color: #000; line-height: 0.42rem; overflow: hidden;}
.delAddressList p 		{font-size: 0.26rem; color: #777777; line-height: 0.44rem;}
.delAddressList span 	{font-size: 0.26rem; color: #aaaaaa; float: right;}
.delAddressList p a  	{color: #777777;}
.delAddressList .active {-webkit-box-shadow:inset 0 0 15px #0CC !important; -moz-box-shadow:inset 0 0 15px #0CC !important; box-shadow:inset 0 0 15px #0CC !important;}

.shopBox                {background: #fff; position: relative; padding: 0.12rem 0 0.12rem 1.07rem; height: 0.7rem; border-top: 0.01rem solid #ececec; border-bottom: 0.01rem solid #ececec;}
.shopBox img            {width: 0.7rem; height: 0.7rem; display: block; border-radius: 50%; position: absolute; left: 0.2rem; top: 0.12rem;}
.shopBox h3             {font-size: 0.32rem; color: #000; line-height: 0.7rem;}
.orderBox               {padding:0.33rem 0 0.33rem 0.2rem; background: #fff; font-size: 0.28rem; color: #707070;border-bottom: 0.01rem solid #ececec;}
.orderBox span          {color: #b0b0b0; padding-right: 0.3rem; font-size: 0.34rem; text-align: center;}

.orderGoodList          {background: #fff; margin-bottom: 0.2rem;}
.orderGoodList h3       {height: 1.15rem; line-height: 1.15rem; color: #000; border-bottom: 0.01rem solid #ececec; font-size: 0.34rem; text-align: center;}
.orderGoodList table    {display: block;}
.orderGoodList table tr th{padding-left: 0.2rem; width: 2.8rem; height: 0.72rem; line-height: 0.72rem; font-size: 0.3rem; color: #707070; text-align: left; }
.orderGoodList table tr td{padding-right: 0.2rem; width: 3.2rem; height: 0.72rem; line-height: 0.72rem; font-size: 0.28rem; color: #b0b0b0; text-align: right; }
.orderGoodList table tr i {font-style: normal;}
.orderGoodList table tr td span{color: red;}

.remarkBox              {background: #fff; margin-bottom: 1.1rem;}
.remarkBox textarea     {border: none; width: 100%; text-align: left; text-indent: 2em; font-size: 0.16rem; color: #000;}

.btn                    {display: block; color: #fff; font-size: 0.4rem; line-height: 0.8rem; background: #0CC; text-align: center; height: 0.8rem;}
.box					{position: absolute; top: 0; right: -0rem; ;transition:0.6s all;}
.box.ng-hide-remove		{opacity:0; right: -4rem;}
.box.ng-hide-remove-active{opacity:1; right: 0;}
.box.ng-hide-add		{opacity:1;}
.box.ng-hide-add-active	{opacity:0;}

